@import url("https://fo-ts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.selector_size {
  padding: 0px;
  margin: 0;
  margin-top: -55px !important;
  margin-bottom: -55px !important;
}

.up-lines {
  width: 100%;
  z-index: 0 !important;
  position: relative;
}

.selector-size-container {
  background-color: #151515;
  padding: 50px;
  padding-top: 90px;
}
.selector-size-title {
  color: #fff;
  font-family: "Bebas Neue";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3px;
  margin-bottom: 70px;
}

#form-space {
  margin-top: 30px;
}

.contenedor-imagen {
  overflow: hidden;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-direction: column-reverse;
}

.link-ref {
  color: #f29cb1;
}

.help {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 160px;
}

.warning {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow {
  margin-top: -70px;
  transform: rotate(6deg);
  width: 100%;
  transform: scale(0.4);
}
.arrow-rotate {
  margin-top: 30px;
  transform: rotate(335deg);
}

.arrow-2 {
  display: none;
}
.complete-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.alert-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-pannel {
  padding-left: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  padding-left: 5px;
}

.left-pannel-title {
  color: #d5d5d5;
  font-family: "Bebas Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 24px;
}
.button-adjust {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-adjust-text {
  color: #d5d5d5;
  font-family: "Bebas Neue";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#align-space {
  margin-top: 10px;
  z-index: 999 !important;
}
#align-space:active {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.1);
}

.left-pannel-container-1 {
  gap: 20px;
  background-color: #313131;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 99 !important;
}
.under-pannels {
  gap: 20px;
}

.no-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.btn {
  border-radius: 12px;

  background: transparent;
  border: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-pannel {
  padding: 0px 25px 0px 25px;
  border-radius: 20px;
  background: #313131 !important;
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: white;
  margin-left: 10px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 50px;
  justify-content: center;
}

.pannel-mini-text {
  color: #d5d5d5;
  font-family: "Bebas Neue";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
}

.option-pannels {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 25px;
}

.big-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;

  margin-top: 13px;
  width: 100%;
  height: 723px;
  margin-right: 10px;
}

.selector_size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-top: 0px;
}

.center-pannel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.under-pannels {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;

  padding-top: 30px;
}

.img-container {
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pannel-title {
  color: #d5d5d5;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.btn-big {
  border-radius: 8px;
  background: #d5d5d5;
  border: none;
  color: #151515;
  font-family: "League Spartan";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-big:focus {
  background: #f58220;
}

.pannel-btn-doble {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.perso-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  width: 220px;
}
.input-perso-container {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-big-apply {
  color: #d9d9d9;
  font-family: "League Spartan";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
  border-radius: 8px;
  background: #151515;
  border: none;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.perso-input {
  border-radius: 8px;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #151515;
  font-family: "League Spartan";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.65px;
  text-align: center;
  width: 100%;
  background-color: #d9d9d9;
}

.cross {
  text-align: center;
  color: #fff;
  font-family: "League Spartan";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.6px;
  margin: 0;
  width: 100%;
  padding: 0;
}
.upload-logo {
  margin-left: 20px;
  width: 15px;
}

.custom-file-input {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 35px;
  background: #f58220;
  backdrop-filter: blur(2px);
  z-index: 999 !important;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 270px;
  bottom: 15px;
  right: 15px;
}

.file-label {
  display: flex;
  flex-wrap: nowrap;
}

.file-label p {
  font-family: "League Spartan";
  color: white;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 1px;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.custom-file-input:hover {
  transform: scale(1.06);
  z-index: 999 !important;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
}
.radio-label input {
  display: none;
}
input[type="radio"]:checked + .radio-custom {
  border: 3px solid #f58220;
}

.file-input-container {
  position: relative;
}

.ia-text {
  background-color: #151515;
  color: #c6c6c6;
  filter: drop-shadow(1px 1px 4px rgba(255, 255, 255, 0.25));

  text-align: center;
  font-family: "League Spartan";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  width: 200px;
  bottom: 35px;
}
.radio-custom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 8px;
}

/* Estilo para el fondo negro */
.black-background {
  background-color: black;
}

/* Estilo para el fondo blanco */
.white-background {
  background-color: white;
}

.ia-background {
  background: linear-gradient(
    45deg,
    #f58220,
    #f98c26,
    #fca52c,
    #fecf32,
    #fff740,
    #c9e348,
    #8ad95e,
    #50cc72,
    #00baa9,
    #00a2d2,
    #007bb5,
    #00589f,
    #002f89,
    #000b72
  );
}

#ia {
  background: linear-gradient(
    45deg,
    #f58220,
    #f98c26,
    #fca52c,
    #fecf32,
    #fff740,
    #c9e348,
    #8ad95e,
    #50cc72,
    #00baa9,
    #00a2d2,
    #007bb5,
    #00589f,
    #002f89,
    #000b72
  );
}

.question {
  width: 15px;
  margin-top: 4px;
}

.background-colors {
  position: absolute;
  left: 73vw;
}

.container-mail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-column-mail {
  width: 54.5%;
  text-align: left;
}
.phrase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #f58220;
  font-family: "League Spartan";
  font-weight: bold;
  font-size: 45px;
}

.right-column-mail {
  width: 50%;

  background-image: url("../img/testimonies.png"); /* Ruta de tu imagen */
  background-size: contain; /* La imagen se ajustar치 para cubrir todo el contenedor */
  background-position: center;
  background-repeat: no-repeat; /* La imagen se centrar치 dentro del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq {
  text-align: left;
}
.mgm-logo-mail {
  width: 123px;
}

.form-container {
  background-color: #313131;
  border-radius: 20px;
  padding: 40px;
}

.img-background-complete {
  width: 48%;
  position: absolute;
  right: 0;
  margin-top: 50px;
  z-index: 0;
}
.title-mail {
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30px */
  color: #f58220;
  margin-top: 60px;
}
label {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
  text-align: left !important;
  margin-bottom: 8px;
  margin-top: 10px;
}
.label-2 {
  margin-top: 35px;
}
.input-mail {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: none !important;
  font-family: "League Spartan";

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  background-color: #151515;

  padding-left: 10px;

  color: #d5d5d5;
}

.input-mail-big {
  width: 100%;
  height: 70px;
  border-radius: 12px;
  display: flex;
  align-items: start;
  font-family: "League Spartan";
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  background-color: #151515;

  padding-left: 10px;

  color: #d5d5d5;
}
.not-visible {
  display: block;
  color: white;
}
.input-container-mail {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}

.form-label {
  color: #f58220;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.button-email {
  width: 538px;
  height: 78px;
  place-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 28px 32px;
  border-radius: 10px;
  background-color: #f58220;
  overflow: hidden;
  width: 100%;
  border: none !important;
  margin-top: 30px;
  color: #151515;
  font-size: 30px;
  font-weight: 600;
  font-family: League Spartan, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  letter-spacing: 0.05em;
}

.button-email:hover {
  transform: scale(1.01);
}

.subtitle-mail {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 130.5%;
  text-align: left;
  letter-spacing: 0.18px;
  margin-top: 25px;
}

.title-faq {
  color: #f29cb1;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 35px */
  margin-top: 10px;
}

.faq-title {
  color: #f29cb1;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: 0.2px;
  margin-top: 30px;
}

.faq-text {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.18px;
  margin-top: 10px;
}

ul {
  margin-top: 40px;
}

.container-mail {
  margin-top: 50px;
  margin-bottom: 50px;
}

#up-lines-mobile {
  display: none;
}
#up-lines-pc {
  display: block;
}

#down-lines-mobile {
  display: none;
}
#down-lines-pc {
  display: block;
}
.left-pannel-container-mobile {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .selector_size {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .right-pannel {
    width: 88%;
    height: auto;

    padding: 25px;

    margin-left: -5px;
    flex-direction: column-reverse;
  }
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .btn-big {
    width: 100%;
    font-size: 12.5px;
  }
  .btn-big:hover {
    transform: scale(1.05);
  }
  .btn-big-space:hover {
    transform: scale(1.01);
  }
  .custom-file-input:hover {
    transform: scale(1.01);
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }
  .background-colors {
    position: absolute;
    left: 83vw;
  }
  .left-pannel-container-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    width: 100%;
  }
  .option-pannels {
    position: relative;
    justify-content: center;
  }
  .content {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .content.active {
    display: flex;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
    bottom: 110px;
    flex-wrap: wrap;
    width: 85%;
  }

  .content.active3 {
    display: flex;
    right: 30px;

    position: absolute;
    z-index: 1;
    bottom: 110px;
    flex-wrap: wrap;
    width: 25%;
  }

  .pannel-thin {
    border: 4px solid #f58220;
    background-color: #313131c9;
    border-radius: 20px;
    padding: 10px;
  }
  .left-pannel-title {
    margin-top: 25px;
  }

  .button-open {
    z-index: 999;
    position: relative;
  }
}

@media only screen and (max-width: 999px) {
  .input-perso-container {
    width: 40%;
  }
  .perso-options {
    display: flex;
    flex-wrap: wrap;
  }
  #right-pannel {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #left-pannel {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cross {
    width: 6%;
  }
  .right-pannel {
    display: none;
  }
  .left-pannel-container-1 {
    display: none;
  }
  .form-label {
    font-size: 18px;
  }
  .selector-size-container {
    padding: 25px;
  }
  .form-container {
    padding: 20px;
  }
  .input-mail {
    font-size: 15px;
    height: 60px;
  }
  .input-mail-big {
    font-size: 15px;
    height: 60px;
  }
  .button-email {
    font-size: 20px;
    height: 60px;
  }
  #up-lines-pc {
    display: none;
  }
  .right-pannel {
    width: 100%;
    height: auto;

    padding: 0px;

    flex-direction: column-reverse;
  }
  .only-size {
    padding: 20px;
  }
  #up-lines-mobile {
    display: block;
  }
  .perso-options {
    width: 100%;
  }
  #down-lines-mobile {
    display: block;
  }
  #down-lines-pc {
    display: none;
  }
  .selector-size-title {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .up-lines {
    width: 100%;
  }
  .file-label p {
    display: none;
  }
  .custom-file-input {
    width: 90px;
    border-radius: 25px;
    z-index: 999 !important;
  }
  .upload-logo {
    margin-left: 0px;
    width: 25px;
  }
  .arrow {
    display: none;
  }
  .help {
    margin-bottom: 0;
    margin-top: 0px;
  }

  .selector_size {
    padding: 0px;
  }

  .warning {
    flex-direction: column-reverse;
  }
  .container-mail {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .left-column-mail {
    width: 100%;
  }
  .faq-title {
    margin-top: 30px;
  }
  .title-faq {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 24px;
  }
  ul {
    margin-top: -20px;
  }
  .right-column-mail {
    width: 100%;
    height: 100vh;
    margin-top: 40px;
    padding: 0;
    background-image: url("../img/testimonies2.svg"); /* Ruta de tu imagen */
    background-size: contain; /* La imagen se ajustar치 para cubrir todo el contenedor */
    background-position: center;
    background-repeat: no-repeat; /* La imagen se centrar치 dentro del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    padding: 25px;
  }
  .arrow-rotate {
    display: none;
  }
  .arrow-2 {
    display: flex;
    width: 100%;
    transform: scale(0.45);
    margin-top: -20px;
  }
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }

  .contenedor-imagen {
    transform: scale(0.7);
  }
  .center-pannel {
    width: 100%;
  }
  .big-pannel {
    margin: 0;
    margin-top: 25px;
    width: 99%;
  }
  .title-mail {
    font-size: 26px;
  }
  .background-colors {
    position: absolute;
    left: 75vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 450px;
  }
}

@media only screen and (max-width: 700px) {
  .phrase-container {
    font-size: 24px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .img-container {
    height: 400px;
    margin-top: -40px;
  }
  .help {
    font-size: 24px;
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }
  .option-pannels {
    position: relative;
    justify-content: center;
  }

  .contenedor-imagen {
    transform: scale(0.39);
    margin-left: 0px;
  }
  .big-pannel {
    display: flex;
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .under-pannels {
    padding-top: 0;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: -44px;
  }
  .left-pannel {
    flex-direction: column;
    margin-bottom: 0px;
    padding-left: 0px !important;
  }
  .center-pannel {
    width: 100%;
  }
  .background-colors {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 80px;
  }
  .option-pannels {
    width: 100%;
  }
  .big-pannel {
    margin: 0;
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  #title-mini {
    font-size: 15px;
    margin-bottom: 14px;
  }
  #scalable-image-m {
    transform: scale(0.68);
  }
  #scalable-image-l {
    transform: scale(0.67);
  }
  #scalable-image-xl {
    transform: scale(0.6);
  }
  #scalable-image-xxl {
    transform: scale(0.56);
  }
  #scalable-image {
    transform: scale(0.9);
  }
}
