@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.mgm-logo {
  width: 101px;
  display: flex;
}

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.link-t {
  text-align: right;
}
.scroll-back {
  background-color: black;
  padding: 22px;
}

.navbar-container {
  background-color: #0f0f0f;
  padding: 12px 30px 12px 30px;
  border-radius: 22px;
  color: #fff;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-navlink {
  color: white;
  cursor: pointer;
}

.navbar-middle {
  display: flex;
  gap: 50px;
}

.instagram_logo {
  width: 36px;
  margin: 0;
  padding: 0;
  display: flex;
}

.burger-menu-button {
  display: none;
}

.navbar-rigth {
  display: flex;
}

.contact-button {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

a {
  text-decoration: none !important;
}
.instagram_logo:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 820px) {
  .mgm-logo {
    width: 101px;
  }
  .instagram_logo {
    display: none;
  }
  .instagram_logo_2 {
    display: flex;
    position: relative;
    bottom: 5px;
    right: 5px;
    filter: brightness(309%);
  }
  .navbar-navlink {
    text-align: right;
  }

  .navbar-middle {
    display: none;
  }
  .contact-button {
    display: none;
  }
  .burger-menu-button {
    display: flex;
    background-color: transparent;
    border: none;
    width: 28.52px;
  }

  .burger-container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    flex-direction: column;
    gap: 20px;
    background-color: #d0889a;
    width: 72%;
    color: white;
    position: absolute;
    right: 0;
    top: 100px;
    margin-left: 12px;
    margin-right: 12px;
    z-index: 9999;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
  }
  .scroll-back {
    border-radius: 40px 0px 50px 50px;
  }
}
