@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.selector_size {
  padding: 22px;
}
.contenedor-imagen {
  overflow: hidden; /* Asegura que la imagen no se desborde del div */
  border: 1px solid black;
  border-radius: 12px;
  display: flex; /* Centra la imagen horizontalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;
  max-width: 100%;
  flex-direction: column-reverse;
}

.help {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 160px;
}

.warning {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow {
  margin-top: -70px;
  transform: rotate(6deg);
  width: 100%;
  transform: scale(0.4);
}
.arrow-rotate {
  margin-top: 30px;
  transform: rotate(335deg);
}

.arrow-2 {
  display: none;
}
.complete-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.alert-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-pannel {
  padding-left: 12px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  padding-left: 5px;
}
.under-pannels {
  gap: 20px;
  z-index: 99999999999999;
}

.no-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.btn {
  border-radius: 12px;
  background: #f29cb1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.1);
}

.right-pannel {
  padding: 0px 25px 0px 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #0f0f0f !important;
  color: white;
  margin-left: 10px;
  height: 720px;
  justify-content: center;
  margin-top: 14px;
  width: 329px;
}

.option-pannels {
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 25px;
}

.big-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background: rgba(157, 157, 157, 0.12);

  margin-top: 13px;
  width: 100%;
  height: 723px;
  margin-right: 10px;
}

.selector_size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-top: 67px;
}

.center-pannel {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.under-pannels {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;

  padding-top: 30px;
}

.img-container {
  height: 555px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pannel-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-big {
  border-radius: 12px;
  background: #f29cb1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
  font-family: "Poppins", sans-serif;
  line-height: 125%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-big-space {
  border-radius: 12px;
  background: #f29cb1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
  font-family: "Poppins", sans-serif;
  line-height: 120%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 16px;
}
.btn-big:hover {
  transform: scale(1.1);
}
.btn-big-space:hover {
  transform: scale(1.06);
}
.pannel-btn-doble {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.perso-options {
  display: flex;
  background-color: #f29cb1;
  justify-content: center;
  color: #1a1a1a;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 12px;
  width: 100%;
  gap: 20px;
  z-index: 9999999999;
}

.perso-input {
  border-radius: 12px;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.cross {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 0%;
  margin: 0;
  width: 100%;
}

.custom-file-input {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  background: #f29cb1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 20px;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-file-input:hover {
  transform: scale(1.06);
}

.radio-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.radio-label input {
  display: none;
}
input[type="radio"]:checked + .radio-custom {
  border: 3px solid #f29cb1;
}

.radio-custom {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 8px;
}

/* Estilo para el fondo negro */
.black-background {
  background-color: black;
}

/* Estilo para el fondo blanco */
.white-background {
  background-color: white;
}

.background-colors {
  position: absolute;
  left: 73vw;
}

.container-mail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-column-mail {
  width: 45%;
  text-align: center;
}

.right-column-mail {
  width: 55%;
}

.faq {
  text-align: left;
}
.mgm-logo-mail {
  width: 100px;
}
.left-column-mail {
  background-color: #0f0f0f;
  border-radius: 22px;
  padding: 25px;
  color: white;
}
.right-column-mail {
  background-color: #0f0f0f;
  border-radius: 22px;
  padding: 25px;
  color: white;
  margin-right: 2.7%;
}
.container-mail {
  gap: 40px;
  padding: 22px;
}
.title-mail {
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 30px */
}
label {
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
  text-align: left !important;
  margin-bottom: 8px;
  margin-top: 10px;
}
.label-2 {
  margin-top: 35px;
}
.input-mail {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
}

.input-mail-big {
  width: 100%;
  height: 120px;
  border-radius: 12px;
  display: flex;
  align-items: start;
  font-family: Poppins;
  border: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
}

.input-container-mail {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}

.button-email {
  background-color: #f29cb1;
  color: #0f0f0f;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 32px */
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-top: 35px;
}
.button-email:hover {
  transform: scale(1.01);
}

.subtitle-mail {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 130.5%;
  text-align: left;
  letter-spacing: 0.18px;
  margin-top: 25px;
}

.title-faq {
  color: #f29cb1;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 35px */
  margin-top: 10px;
}

li {
  list-style: none; /* Remove default list-style */
  padding: 0; /* Remove default padding */
  margin: 0;
}

.faq-title {
  color: #f29cb1;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: 0.2px;
  margin-top: 30px;
}

.faq-text {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.18px;
  margin-top: 10px;
}

ul {
  margin-top: 40px;
}

.container-mail {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1250px) {
  .selector_size {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .right-pannel {
    width: 88%;
    height: auto;

    padding: 25px;

    margin-left: -5px;
    flex-direction: column-reverse;
  }
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .btn-big {
    width: 100%;
    font-size: 12.5px;
  }
  .btn-big:hover {
    transform: scale(1.05);
  }
  .btn-big-space:hover {
    transform: scale(1.01);
  }
  .custom-file-input:hover {
    transform: scale(1.01);
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }
  .background-colors {
    position: absolute;
    left: 83vw;
  }
}

@media only screen and (max-width: 890px) {
  .arrow {
    display: none;
  }
  .help {
    margin-bottom: 0;
    margin-top: 0px;
  }

  .selector_size {
    padding: 14px;
  }

  .warning {
    flex-direction: column-reverse;
  }
  .container-mail {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .left-column-mail {
    width: 100%;
  }
  .faq-title {
    margin-top: 30px;
  }
  .title-faq {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 24px;
  }
  ul {
    margin-top: -20px;
  }
  .right-column-mail {
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
  }
  ul {
    padding: 25px;
  }
  .arrow-rotate {
    display: none;
  }
  .arrow-2 {
    display: flex;
    width: 100%;
    transform: scale(0.45);
    margin-top: -20px;
  }
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }

  .contenedor-imagen {
    transform: scale(0.7);
  }
  .center-pannel {
    width: 100%;
  }
  .big-pannel {
    margin: 0;
    margin-top: 25px;
    width: 99%;
  }
  .title-mail {
    font-size: 26px;
  }
  .background-colors {
    position: absolute;
    left: 75vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 450px;
  }
}

@media only screen and (max-width: 700px) {
  .pannel-btn-doble {
    grid-template-columns: 1fr 1fr;
  }
  .img-container {
    height: 400px;
    margin-top: -40px;
  }
  .help {
    font-size: 24px;
  }
  .big-pannel {
    width: 100%;
    margin-left: -22px;
  }
  .option-pannels {
    position: absolute;
  }

  .contenedor-imagen {
    transform: scale(0.39);
    margin-left: 0px;
  }
  .big-pannel {
    display: flex;
    height: auto;
    align-items: end;
  }
  .under-pannels {
    padding-top: 0;
    justify-content: end;
    margin-bottom: 20px;
    margin-left: -44px;
  }
  .left-pannel {
    flex-direction: row;
    margin-bottom: 80px;
  }
  .center-pannel {
    width: 100%;
  }
  .background-colors {
    position: absolute;
    left: 75vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 80px;
  }
  .big-pannel {
    margin: 0;
    margin-top: 25px;
    width: 99%;
  }
  #scalable-image-m {
    transform: scale(0.68);
  }
  #scalable-image-l {
    transform: scale(0.67);
  }
  #scalable-image-xl {
    transform: scale(0.6);
  }
  #scalable-image-xxl {
    transform: scale(0.56);
  }
  #scalable-image {
    transform: scale(0.9);
  }
}
