.card-container {
  display: flex;

  justify-content: space-between;
}

.card {
  width: 28.4%;
  height: 608px;
  text-align: left;
  border-radius: 22px;
  position: relative; /* Para posicionar el contenido interno */
  color: #fff; /* Color del texto para que se vea en contraste con la imagen */
  padding: 15px; /* Espacio alrededor del contenido */
  display: flex; /* Usamos flex para que el botón ocupe todo el espacio */
  flex-direction: column; /* Los elementos dentro de la card se colocan en columna */
  justify-content: flex-end;
  margin-top: 16px;
}

.card-button:hover {
  transform: scale(1.03);
}
.card:hover {
  opacity: 0.94;
}
#card-1 {
  background: url("./Card-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
}
#card-2 {
  background-image: url("./Card-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
}
#card-3 {
  background-image: url("./Card-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.4s;
}
.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 25px;
  padding-bottom: 40px;
  overflow: hidden;
  
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
  text-align: left;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 18px;
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.card-button {
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  width: 90%;
  margin-left: -50px;
  height: 55px;
  border-radius: 12px;
  background: #f29cb1;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.4s;
}

@media only screen and (max-width: 900px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-content {
    
    padding-left: 10px;
  }
  .card {
    width: 100%;
    padding-left: 0px;
  }
  .card-title {
    font-size: 22px;
  }
  .card-subtitle {
    font-size: 15px;
  }
}
